.wrapper{
    background-color: white;
    position: absolute;
    overflow: auto; /* Добавляем полосы прокрутки */
    overflow-x:hidden;
    height: 400px;
    z-index: 1243;
}
.input{
    width: 300px;
    height: 33px;
    background-color: var(--input-background-default);
    color: black;
   border: 1px solid white;
}
.container{
    width: 283px;
    background-color: var(--body-background-default);
    display: flex;
}

.img{
    width: 80px;
}
.text{
    font-weight: bold;
    font-size: 18px;
display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}