.main{
    background:  var(--components-background-default);
}
.changeTheme{
    cursor: pointer;
}
.positin{
    max-width: 1200px;
  display: flex;
    align-items: center;
    margin: 0 auto;
 justify-content: space-between;

}

.img{
    width: 100px;
}

.text{
    color: var( --text-color-default);
    text-decoration: none;

    font-size: 25px;
    font-weight: bold;
}
