.main{
    background: #323232;


}
.positin{

    max-width: 1200px;
  display: flex;
    align-items: center;
    margin: 0 auto;
 justify-content: space-between;

}

.img{
    width: 100px;
}
.text{

    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
